.banner {
  max-width: 1180px;
  margin: 0 auto;
  height: 920px;
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: top 115px right -27px
}

.banner__title {
  font-size: 150px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.1em;
}

.banner__description {
  font-size: 28px;
  line-height: 50px;
  margin-left: 100px;
  margin-bottom: 30px;
}

.features {
  display: flex;
  align-items: flex-end;
  gap: 43px;
  margin-bottom: 150px;
  text-align: center;
}

.features__thematic-halls_number {
  font-size: 100px;
  font-weight: 900;
  line-height: 141px;
  color: var(--color-text-second);
}

.features__thematic-halls_text {
  max-width: 193px;
  font-size: 30px;
  line-height: 35px;
}

.features__latest-equipment_new {
  font-size: 75px;
  font-weight: 900;
  line-height: 106px;
  font-variant: all-small-caps;
  color: var(--color-text-second);
}

.features__latest-equipment_text {
  max-width: 161px;
  font-size: 30px;
  line-height: 35px;
}

.banner__btns {
  max-width: 636px;
  height: 130px;
  display: flex;
}

.banner__book {
  margin-right: auto;
  height: 80px;
  padding: 25px 69px;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: var(--color-text-main);
  background-color: var(--color-bg-hover-primery);
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.banner__book:hover {
  background-color: var(--color-element-states);
}

.banner__book:focus {
  background-color: var(--color-element-states);
  outline: none;
}

.banner__book:active {
  background-color: var(var(--color-bg-hover-second));
}

.banner__down-btn {
  align-self: flex-end;
  height: 97px;
  left: 535px;
  bottom: -65px;
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: outline 0.2s;
}

.banner__down-btn:focus {
  outline: 2px solid var(--color-text-second);
}

.banner__down-btn:active {
  outline: none !important;
}

.banner__down-btn_svg {
  fill: transparent;
}

.banner__down-btn_svg circle {
  stroke: var(--color-text-main);
  transition: all 0.3s;
}

.banner__down-btn_svg rect {
  fill: var(--color-text-main);
  transition: all 0.3s;
}

.banner__down-btn_svg:hover circle {
  fill: var(--color-text-main);
}

.banner__down-btn_svg:hover rect {
  fill: var(--color-bg-hover-primery);
}

.banner__down-btn_svg:active circle {
  fill: var(--color-bg-hover-primery);
  stroke: var(--color-bg-hover-primery);
}

.banner__down-btn_svg:active rect {
  fill: var(--color-text-main);
}



