.faq {
  padding: 50px 0;
}

.faq__item {
  position: relative;
  background-color: var(--color-text-main);
  color: var(--color-text-faq);
  font-weight: 700;
  font-size: 24px;
  height: 87px;
  padding: 30px 70px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__item:nth-child(2n) {
  color: var(--color-text-main);
  background-color: var(--color-bg-second);
}

.faq__question {
  margin: 0;
  display: flex;
  align-items: center;
}

.faq__question-btn {
  width: 0;
  height: 0;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.faq__question-btn:after {
  position: absolute;
  content: '';
  background-image: url("../img/open-purple.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  right: 50px;
  top: 30px;
  transition: background-color 0.3s;
}

.faq__item:nth-child(2n) > .faq__question .faq__question-btn:after {
  background-image: url("../img/open.svg");
}

.faq__question-btn:hover:after,
.faq__question-btn:focus:after {
  background-color: var(--color-bg-hover-primery);
  background-image: url("../img/open-purple-hover.svg");
}

.faq__question-btn:active:after {
  background-color: transparent;
  background-image: url("../img/open-purple-active.svg");
}

.faq__item:nth-child(2n) > .faq__question .faq__question-btn:active:after {
  background-image: url("../img/open-active.svg");
}

@media (max-width: 1024px) {
  .faq {
    padding: 35px 0;
  }

  .faq__item {
    height: 70px;
  }

  .faq__item:nth-child(n) {
    background-color: var(--color-text-main);
    color: var(--color-text-faq);
    font-size: 20px;
    line-height: 24px;
    padding: 23px 30px;
    margin-bottom: 16px;
  }

  .faq__item:nth-child(n) > .faq__question .faq__question-btn:after {
    background-image: url("../img/open-purple.svg");
  }

  .faq__question-btn:after {
    right: 35px;
    top: 12px;
  }
}

@media (max-width: 768px) {
  .faq {
    padding: 35px 0;
  }

  .faq__item:nth-child(n) {
    font-size: 18px;
    line-height: 24px;
    padding: 23px 54px;
  }

  .faq__item:nth-child(n) > .faq__question .faq__question-btn:after {
    background-image: url("../img/open-purple.svg");
  }

  .faq__question-btn:after {
    right: 65px;
  }
}

@media (max-width: 480px) {
  .faq {
    padding: 15px 0;
  }

  .faq__list {
    width: 280px;
    margin: 0 auto;
  }

  .faq__item {
    width: 280px;
    height: 46px;
  }

  .faq__item:nth-child(n) {
    font-size: 12px;
    line-height: 16px;
    padding: 13px 7px;
    margin-bottom: 10px;
  }

  .faq__question {
    width: 224px;
  }

  .faq__question-btn:after {
    width: 30px;
    height: 30px;
    right: 13px;
    top: 8px;
  }
}