.halls {
  padding-top: 50px;
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 60px;
}

.halls__item {
  min-height: 349px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
}

.halls__item:nth-of-type(1) .halls__link {
  background-image: url("../img/hall-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__item:nth-of-type(2) .halls__link {
  background-image: url("../img/hall-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__item:nth-of-type(3) .halls__link {
  background-image: url("../img/hall-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__item:nth-of-type(4) .halls__link {
  background-image: url("../img/hall-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 98px;
}

.halls__name {
  max-width: 200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.slider__container {
  position: relative;
}

.swiper-button-prev:after, .swiper-button-next:after {
  position: absolute;
  height: 80px;
  top: calc(50% - 20px);
  font-size: 44px !important;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:after {
  left: -5px;
}

.swiper-button-next:after {
  right: -5px;
}

@media (max-width: 1024px) {
  .halls {
    padding-top: 35px;
    padding-bottom: 71px;
  }
  .halls__item {
    min-height: 267px;
    font-size: 50px;
    line-height: 60px;
  }

  .halls__link {
    padding-top: 75px;
  }
  
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 37px !important;
  }
}

@media (max-width: 768px) {
  .halls {
    padding-top: 30px;
    padding-bottom: 62px;
  }

  .halls__item {
    min-height: 200px;
    font-size: 40px;
    line-height: 50px;
  }

  .halls__link {
    padding-top: 50px;
  }
  
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 32px !important;
  }
}

@media (max-width: 480px) {
  .halls {
    padding-top: 30px;
    padding-bottom: 0;
  }

  .halls__title {
    margin-bottom: 25px;
  }

  .halls__item {
    min-height: 168px;
    font-size: 40px;
    line-height: 50px;
  }

  .halls__link {
    padding-top: 50px;
  }
  
  .swiper-button-prev:after, .swiper-button-next:after {
    font-size: 24px !important;
  }
}

