.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  line-height: 50px;
  text-transform: uppercase;
}

.navigation__list {
  display: flex;
  gap: 40px;
}

.navigation__link {
  padding: 2px 5px;
  transition: background-color 0.3s;
}

.navigation__link:hover {
  background-color: var(--color-bg-hover-primery);
}

.navigation__link:focus {
  background-color: var(--color-bg-hover-primery);
  outline: none;
}

.navigation__link:active {
  border: 1px solid var(--color-text-black);
  background-color: var(var(--color-bg-hover-second));
}

.header__order-btn {
  padding: 12px 32px 13px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-text-main);
  background-color: transparent;
  border-radius: 10px;
  border: 3px solid var(--color-text-second);
  transition: background-color 0.3s;
}

.header__order-btn:hover,
.header__order-btn:focus {
  background-color: var(--color-bg-hover-primery);
  border: 3px solid var(--color-bg-hover-primery);
  outline: none;
}

.header__order-btn:active {
  border: 1px solid var(--color-text-black);
  background-color: var(var(--color-bg-hover-second));
}