.other-rooms {
  padding-top: 50px;
  padding-bottom: 100px;
}

.other-rooms__title {
  margin-bottom: 60px;
}

.other-rooms__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.other-rooms__item {
  min-height: 349px;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
}

.other-rooms__item:nth-of-type(1) .other-rooms__link {
  background-image: url("../img/hall-1.jpg");
}

.other-rooms__item:nth-of-type(2) .other-rooms__link {
  background-image: url("../img/hall-2.jpg");
}

.other-rooms__item:nth-of-type(3) .other-rooms__link {
  background-image: url("../img/hall-3.jpg");
}

.other-rooms__item:nth-of-type(4) .other-rooms__link {
  background-image: url("../img/hall-4.jpg");
}

.other-rooms__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 98px;
}

.other-rooms__name {
  max-width: 252px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 1024px) {
  .other-rooms {
    padding-top: 35px;
    padding-bottom: 47px;
  }
  .other-rooms__item {
    min-height: 267px;
    font-size: 50px;
    line-height: 60px;
  }

  .other-rooms__link {
    padding-top: 75px;
  }
}

@media (max-width: 768px) {
  .other-rooms {
    padding-top: 30px;
    padding-bottom: 35px;
  }

  .other-rooms__item {
    min-height: 200px;
    font-size: 40px;
    line-height: 50px;
  }

  .other-rooms__link {
    padding-top: 50px;
  }
}

@media (max-width: 480px) {
  .other-rooms {
    padding-top: 30px;
    padding-bottom: 22px;
  }

  .other-rooms__title {
    margin-bottom: 25px;
  }

  .other-rooms__list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .other-rooms__item {
    height: 168px;
    font-size: 40px;
    line-height: 50px;
  }

  .other-rooms__link {
    padding-top: 50px;
  }
}

