.reserve {
  background-color: #440f51;
}

.reserve__title {
  padding-top: 80px;
}

.form {
  padding-bottom: 30px;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
}

.form__input[type="radio"],
.form__input[type="checkbox"] {
  width: 27px;
  margin-right: 10px;
}

.form__field {
  margin-bottom: 68px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
}

.form__legend-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}


.form__field_list {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.form__field_item {
  max-width: 250px;
}

.form__input {
  display: block;
  width: 100%;
  border: none;
}

.choice {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.choice + .choice__form-label {
  padding: 7px 15px 8px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: all 0.3s;
}

.choice + .choice__form-label:hover {
  border-color: #640aa3;
  background-color: #eadeed;
}

.choice:focus + .choice__form-label {
  border-color: #640aa3;
  background-color: #ffffff;
  transform: scale(1.05);
  outline: none;
}

.choice + .choice__form-label:active {
  color: #ffffff;
  background-color: #6c0287;
  border-color: #ffffff;
}

.choice:checked + .choice__form-label {
  color: #ffffff;
  background-color: #6c0287;
  border-color: #ffffff;
}

.inner__field {
  margin-bottom: 0;
}

.inner-field__title {
  margin-bottom: 24px;
}

.inner__field .form__input:focus {
  outline: 1px solid #cd06ff;
}

.inner__field .form__input:checked:active {
  background-color:  #cd06ff;
}


.form__field-container, .last {
  margin: 40px 40px;
}

.last__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 36px;
}

.last_item {
  flex-basis: 280px;
  height: 68px;
  font-size: 14px;
  line-height: 16px;
}

.last__item .form__label {
  display: flex;
  flex-direction: column;
}

.last__item .form__input {
  height: 52px;
  padding: 12px;
}

.last__item .form__input:focus {
  outline: none;
  border: 2px solid #cd06ff;
}

.last__item-wrapper {
  flex-basis: 134px;
  display: flex;
  gap: 36px 20px;
}

.last__item-wrapper .form__input[type="date"] {
  width: 140px;
}

.last__item-wrapper .form__input[type="time"] {
  width: 134px;
}

.form__btn {
  display: block;
  max-width: 294px;
  margin-left: auto;
  padding: 16px 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: #6C0287;
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: background-color, border 0.3s;
}

.form__btn:hover {
  background-color: #eadeed;
  border: 3px solid #6c0287;
}

.form__btn:focus {
  background-color: #ffffff;
  border: 3px solid #6c0287;
  outline: none;
}

.form__btn:active {
  background-color: #eadeed;
  border: none;
}
