.reserve {
  background-color: var(--color-bg-second);
}

.reserve__title {
  padding-top: 80px;
}

.form {
  padding-bottom: 80px;
}

.form__label {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
}

.form__input[type="radio"],
.form__input[type="checkbox"] {
  width: 27px;
  margin-right: 10px;
}

.form__field {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: none;
}

.form__legend-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-bottom: 40px;
}

.form__list {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.form__item {
  max-width: 250px;
}

input {
  display: block;
  max-width: 100%;
  border: none;
}

.choice {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.choice + .label {
  padding: 7px 15px 8px;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  color: var(--color-text-black);
  background-color: var(--color-text-main);
  text-align: center;
  text-transform: uppercase;
  border-radius: 8px;
  border: 3px solid transparent;
  transition: all 0.3s;
}

.choice + .label:hover {
  border-color: var(--color-bg-hover-second);
  background-color: var(--color-bg-hover-third);
}

.choice:focus + .label {
  border-color: var(--color-bg-hover-second);
  background-color: var(--color-text-main);
  transform: scale(1.05);
  outline: none;
}

.choice + .label:active {
  color: var(--color-text-main);
  background-color: var(--color-bg-hover-primery);
  border-color: var(--color-text-main);
}

.choice:checked + .label {
  color: var(--color-text-main);
  background-color: var(--color-bg-hover-primery);
  border-color: var(--color-text-main);
}

.field-container__list {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

.inner-field {
  margin-bottom: 0;
}

.inner-field__title {
  margin-bottom: 24px;
}

.inner-field .form__input:focus {
  outline: 1px solid var(--color-text-second);
}

.inner-field .form__input:checked:active {
  background-color:  var(--color-text-second);
}

.field-container {
  margin: 60px 40px;
}

.last {
  margin: 60px 40px 0;
}

.last__list {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 280px);
  /*grid-template-rows: 1fr 1fr 1fr;*/
  grid-template-areas:
    "date-time name phone"
    "people last-name email"
    ". . btn";
  align-items: end;
  gap: 36px 50px;
}

.last__item label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 16px;
}

.last__item input {
  height: 52px;
  padding: 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28;
}

.control__input:focus {
  outline: none;
  border: 2px solid var(--color-text-second);
}

.date-time {
  grid-area: date-time;
  display: flex;
  gap: 0 14px;
}

.layout-name {
  grid-area: name;
}

.layout-phone {
  grid-area: phone;
}

.layout-number {
  grid-area: people;
}

.layout-last-name {
  grid-area: last-name;
}

.layout-email {
  grid-area: email;
}

.button-control {
  grid-area: btn;
}

.form__btn {
  display: block;
  margin-top: 40px;
  padding: 16px 50px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  color: var(--color-bg-hover-primery);
  text-transform: uppercase;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: background-color, border 0.3s;
}

.form__btn:hover {
  background-color: #eadeed;
  border: 3px solid var(--color-bg-hover-primery);
}

.form__btn:focus {
  background-color: var(--color-text-main);
  border: 3px solid var(--color-bg-hover-primery);
  outline: none;
}

.form__btn:active {
  background-color: #eadeed;
  border: none;
}

@media (max-width: 1200px) {
  .form__label {
    font-size: 21px;
  }

  .choice + .label {
    padding: 7px 15px 8px;
    font-size: 25px;
    line-height: 1.2;
  }
}

@media (max-width: 1024px) {
  .reserve__title {
    padding-top: 60px;
  }

  .form {
    padding-bottom: 60px;
  }

  .field-container {
    margin: 60px 0;
  }

 .last {
   margin: 60px 0 0 0;
 }

  .last__list {
    grid-template-columns: repeat(auto-fit, 267px);
  }

  .layout-name {
    max-width: 251px;
  }

  .layout-phone {
    max-width: 254px;
  }

  .layout-number {
    max-width: 300px;
  }

  .layout-last-name {
    max-width: 251px;
  }

  .layout-email {
    max-width: 254px;
  }

  .button-control {
    max-width: 254px;
  }

  .date-time {
    width: 267px;
  }

  .date-time__input {
    width: 126px;
  }

  .form__btn {
    margin-top: 50px;
    width: 254px;
    padding: 14px 14px;
  }
}

@media (max-width: 768px) {
  .reserve__title {
    padding-top: 50px;
  }

  .form__legend-title {
    margin-bottom: 26px;
  }

  .choice {
    width: 150px;
  }

  .choice + .label {
    padding: 9px 20px 9px;
    font-size: 16px;
    line-height: 20px;
  }

  .form__list {
    gap: 29px;
  }

  .inner-field .form__label {
    width: 214px;
  }

  .field-container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
  }

  .layout-name {
    max-width: 264px;
  }

  .last__list {
    grid-template-areas:
    "date-time people"
    "name phone"
    "last-name email"
    ".  btn";
    align-items: end;
    gap: 36px 50px;
  }
}

@media (max-width: 480px) {
  .reserve__title {
    padding-top: 50px;
  }

  .form__legend-title {
    font-size: 14px;
    line-height: 18px;
  }

  .choice {
    width: 130px;
  }

  .choice + .label {
    padding: 6px 20px 6px;
    font-size: 14px;
    line-height: 18px;
  }

  .form__list {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 29px;
  }

  .inner-field .form__label {
    width: 214px;
  }

  .field-container__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
  }

  .last__list {
    grid-template-areas:
    "date-time"
    "people"
    "name"
    "last-name"
    "phone"
    "email"
    "btn";
    align-items: end;
    gap: 20px;
  }

  .date-time__label {
    margin-bottom: 15px;
  }

  .layout-name {
    max-width: 280px;
  }

  .layout-phone {
    max-width: 280px;
  }

  .layout-number {
    max-width: 280px;
  }

  .layout-last-name {
    max-width: 280px;
  }

  .layout-email {
    max-width: 280px;
  }

  .button-control {
   justify-self: center;
  }

  .form__btn {
    max-width: 280px;
    margin-top: 35px;
  }

  .date-time__input {
    width: 127px;
  }
}